
@keyframes fadeInBanner { /* define el efecto de opacidad de entrada y salida del banner */
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.banner-animado { /* efecto de transformacion suave */
  transition: transform 0.4s ease-in-out;
}
.banner-animado:hover { /* estilo para efecto cuabndo se pasa el cursor */
  transform: scale(1.02);
}